:root {
    --ET_Black:#182F40;
    --ET_Primary-Blue:#186CA8;
    --ET_Light-Blue: #5DBDF0;
    --ET_X-Light-Blue: #EDF5F9;
}

@font-face {
    font-family: 'Inter';
    src: url('/Inter/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: Inter;
    font-weight: 100 900 !important;
    background-color: var(--ET_X-Light-Blue);
}

.navbar-main {
    background-color: var(--ET_Black);
}

.search-input {
    background: url("/search_icon.png") no-repeat center left;
    background-size: 25px;
    padding-left: 30px;
    background-color: white;
    border: 1px solid var(--ET_Light-Blue);
    border-radius: 0.5em;
}

.attraction-result {
    max-width: 40em;
}

.attraction-result:hover {
    cursor: pointer;
    border: 1px solid var(--ET_Light-Blue);
}

.no-result-text {
    color: var(--ET_Primary-Blue);
    font-weight: 700;
}

.search-button {
    background-color: var(--ET_Primary-Blue);
    color: white;
    border: none;
    border-radius: 0.5em;
    padding-left: 20px;
    padding-right: 20px;
}

.search-button:hover {
    background-color: var(--ET_Light-Blue);
}
